# Dart & Flutter
.dart_tool/
.flutter-plugins
.packages
.pub-cache/
build/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
*.iml
*.lock
*.log
.idea/
android/.gradle/
android/app/debug/
android/app/profile/
.android/
*.keystore
